*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 60px;
}

.ui .message{
	padding-top: 30px !important;
	padding-bottom:  50px !important;
}

.ui .button{
	text-transform: capitalize;
}
