*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 60px;
}

.ui.grid.main{
	margin-top: 30px;
}


.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.inverted.navbar{
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}
